/*
 * Nom de fichier : base.css
 * Description : Feuille de style de base pour tout le site
 * Auteur(s) : Justine MEURIOT, Maxence DELATTRE
*/

@font-face { /* Police de l'auto école */
    font-family: 'AutoMoto';
    src: url('/polices/automoto-webfont.eot');
    src: url('/polices/automoto-webfont.eot?#iefix') format('embedded-opentype'),
         url('/polices/automoto-webfont.woff') format('woff'),
         url('/polices/automoto-webfont.ttf') format('truetype'),
         url('/polices/automoto-webfont.svg#AutoMoto') format('svg');
}

@font-face {
    font-family: 'Calibri Light';
    src: url('/polices/calibril-webfont.eot');
    src: url('/polices/calibril-webfont.eot?#iefix') format('embedded-opentype'),
         url('/polices/calibril-webfont.woff') format('woff'),
         url('/polices/calibril-webfont.ttf') format('truetype'),
         url('/polices/calibril-webfont.svg#CalibriLight') format('svg');
}

body {
	padding:0;
	margin:0;
	font-family:'Calibri Light','Comic Sans MS',Arial,sans-serif;
	background-color:black;
	color:white;
	font-size:1em;
}

section{
	margin-top:5%;
	background-color: white;
	width: 100%;
}

section article{
	margin-left: auto;
	margin-right: auto;
}

nav {
	top:0;
	position:fixed;
	background-color:black;
	width:100%;
	height:13%;
	overflow:hidden;
	font-size:100%;
	z-index:3;
	background-image:url('/images/logo_navigation.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position-x:1%;
	margin-bottom: 20px;
}

a {
    color:white;
    text-decoration:none;
}

#menuAdmin{
	position: fixed;
	width: 10%;
	top: 17%;
	right: 1%;
        display:none;
}

#menuAdmin p{
	
	width: 100%;
	height: 50px;
	background-color: grey;
	color:white;
	text-align:center;
	vertical-align:middle;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	margin: 3px;
	#border:none;
	border: 3px solid black;
	border-radius:5px;

}

#menuClient p:hover{
	background-color: grey;
        cursor: pointer;
}

#menuClient{
	position: absolute;
	width: 10%;
	font-style:Calibri Light;
	top: 17%;
	right: 1%;
        display:none;
}

#menuClient p{
	width: 100%;
	height: 50px;
	background-color: grey;
	color:white;
	text-align:center;
	vertical-align:middle;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	margin: 3px;
	#border:none;
	border: 3px solid black;
	border-radius:5px;
}

#menuClient p:hover{
	background-color: grey;
        cursor: pointer;
}

#menuMoniteur{
	position: fixed;
	width: 13%;
	top: 17%;
	right: 1%;
        display:none;
        
}

#menuMoniteur p{
	width: 100%;
	height: 50px;
	background-color: grey;
	color:white;
	text-align:center;
	vertical-align:middle;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	margin: 3px;
	#border:none;
	border: 3px solid black;
	border-radius:5px;
        
}

#menuMoniteur p:hover{
	background-color: grey;
        cursor: pointer;
}



#menu {
	position: absolute;
	list-style-type: none; 
	padding:0;
	top:2%;
	width:100%;
	text-align:center;
	height:100%;
}

#menu li {display:inline-block;padding:0 2.5%;}
#menu li:hover a {transition:all 1s;cursor:pointer;}
#menu a:focus {outline:0;}

#menu a {
	padding:2% 0;
	color:rgb(200,200,200);
	transition:all 1s;
	text-decoration:none;
	font-size:130%;
	border-bottom-color:transparent;
	border-bottom-style:solid;
	border-bottom-width:2px;
}
#menu li a[href="#nos_services"] {border-bottom-color:rgb(255,255,255);color:rgb(255,255,255);}

#logo{
	position: absolute;
	left: 2%;
	height: 100%;
	width: auto;
}

#barre_blanche {
	top:0;
	position:fixed;
	background-color:black;
	width:100%;
	height:15%;
	z-index:2;
}

#menu, #reseaux_sociaux, #reseaux_sociaux a {display:inline-block;vertical-align:middle;}
#reseaux_sociaux {width:14%;padding-left:0.4%;}
#reseaux_sociaux img {width:22%;margin:0 4%;}

#reseaux_sociaux a {
	background-repeat:no-repeat;
	background-size:100%;
	width:45px;
	height:45px;
	margin-right:10px;
}

#reseaux_sociaux #facebook {background-image:url('/images/logo_facebook.png');}
#reseaux_sociaux #twitter {background-image:url('/images/logo_twitter.png');}
#reseaux_sociaux #instagram {background-image:url('/images/instagram_logo.png');}

#nos_services {
	padding:20px 0;
	background-color:black;
	width:100%;
	height:100%;
	color:white;
	font-family:'AutoMoto';
	font-size:200%;
}

#nos_services div {display:inline-block;vertical-align:middle;}

#nos_services .prestations {
	#width:29.3%;
	width:25%;
	margin:2% 0.5%;
	background-repeat:no-repeat;
	background-position:50% 0;
}

#nos_services #aac {background-image:url('/images/logo_conduite_accompagnee.png');}
#nos_services #moto {background-image:url('/images/logo_moto.png');}
#nos_services #forfait {background-image:url('/images/logo_conduite_accompagnee.png');}
#nos_services #permis_am {background-image:url('/images/logo_permis_am.png');}
#nos_services #retrait {background-image:url('/images/logo_retrait.png');}
#nos_services .prestations p {margin-bottom:0;margin-top:162px}

#nos_services .separator {
	width:3px;
	margin:0;
	height:230px;
	border-radius:1.5px;
	background-color:white;
}

#l_auto_ecole {
	background-color:rgb(30,30,30);
	width:100%;
	height:100%;
	color:black;
}

#nos_bureaux {
	padding:20px 0;
	background-color:black;
	width:100%;
	height:100%;
	color:white;
}

#nos_bureaux h1 {
	color:white;
	font-family:'AutoMoto';
	font-weight:normal;
	font-size:200%;
}

#nos_bureaux div {
	width:29.3%;
	height:515px;
	display:inline-block;
	vertical-align:middle;
	margin:15px 15px;
	text-align: center;
}

#nos_bureaux .separator{
	width:3px;
	margin:0;
	border-radius:1.5px;
	background-color:white;
}

#faq {
	padding:0;
	background-color:rgb(30,30,30);
	width:100%;
	height:100%;
	color:white;
	font-size:100%;
}

#nos_services .espace, #l_auto_ecole .espace, #nos_bureaux .espace, #faq .espace {
	padding:0;
	margin:0;
	height:0;
	display:block;
	background-color:transparent;
}

article {overflow:hidden;}

.prestations, #reseaux_sociaux a { /* Transition d'agrandissement */
	-webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    transition: all .5s cubic-bezier( .6, 2, .4, 1);
}

.prestations:hover, #reseaux_sociaux a:hover {
	cursor:pointer;
	/* Agrandissement de 20% */
	-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#identification div, #contact div {	
	background-color:black;
	display:inline-block;
	vertical-align:middle;
}

#espace_clients {text-align:center;}

.historique {
	background-color:rgb(255,255,255);
	width:70%;
	margin:auto;
}

h1 {
	color:black;
	font-size:250%;
	text-align:center;
	font-weight:bold;
	padding:10px;
	margin:0;
}

.texte{
	color:black;
	font-size:120%;
	text-align:justify;
	padding:20px;
}

.texte_bureau {
	color:white;
	font-size:20px;
	margin-left:2em;
	margin-right:2em;
	text-align:center;
}

#submit_contact, #submit_connexion {color:black;font-size:12px;}
#formulaire_contact #submit_contact {margin-left:62.5%;margin-top:20px;width:13%;}

#soulignement{
	width:70%; 
	color:white;
	background-color:white;
	height:3px;
	border-radius:100%;
	margin:auto;
	text-align:center;
}

#connexion{
	position: absolute;
	right: 1%;
	top: 2%;
	width: 13%;
	height: 100%;
}

#identification {width:100%;text-align:center;}
#identification label, #formulaire_contact label {color:white;font-size:20px;}

#identification label, #formulaire_contact label, #identification input, #formulaire_contact input {
	display:inline-block;
	vertical-align:middle;
	margin:10px 0;
}

#identification label, #formulaire_contact label {width:180px;}
#identification input {width:15%;}
#formulaire_contact input {width:20%;}
#identification label, #identification input {margin-top:1.9%;margin-bottom:1.9%;}

#formulaire_contact .label_contact {
	display:inline-block;
	margin-right:15px;
	padding:3px 0px;
	width:500px;
	min-height:1px;
	text-align:right;
}

#textarea_contact {
	display:inline-block;
	vertical-align:top;
	width:500px;
	height:100px;
	margin-top:20px;
	font-family:'Calibri Light';
}

#div_bonhomme {
	height:180px;	
	width:180px;
	background:transparent url('../images/bonhomme.png') no-repeat;
	background-size:180px;
	text-align: center;
}

#formulaire_contact {
	height:585px;
	width:1349px;
	padding-top:1%;
}

#titre_contact {
	color:white;
	font-size:40px;
	font-weight:normal;
	text-align:center;
	margin:20px auto 30px auto;
}

#deco {margin-bottom:1%;}
#deco:hover {text-decoration:underline;cursor:pointer;}
.affichageImageBody {overflow-y:scroll;max-height:100%;}
.affichageImageHtml {overflow-y:hidden;}

#identification #msgErrorConnexion, #identification #new_password, #formulaire_contact #msgErrorContact {
	color:black;
	background-color:white;
	display:none;
	margin:auto;
}

#identification #msgErrorConnexion, #formulaire_contact #msgErrorContact {
	width:15%;
	border:3px solid red;
	border-radius:5px;
	padding:5px 0;
}

#formulaire_contact #msgErrorContact {text-align:center;}
#identification #oubliMdp:hover {cursor:pointer;text-decoration:underline;}

.helpco{
	font-size:12px;
}


#identification #new_password {
	width:30%;
	position:absolute;
	left:35%;
	text-align:justify;
	padding-bottom:10px;
}

#identification #new_password div {
	background-color:#4390df;
	width:100%;
	text-align:center;
}

#identification #new_password #image_new_password, #identification #new_password h2 {display:inline-block;vertical-align:middle;}
#identification #new_password #image_new_password:hover {cursor:pointer;background-color:rgba(255,255,255,0.4)}

#identification #new_password #image_new_password {
	position:absolute;
	right:0;
	height:39px;
	width:39px;
	background-image:url(../images/back.png);
	background-repeat:no-repeat;
	background-size:100%;
}

#identification #new_password h2 {
	padding:5px;
	margin:0 39px 0 0;
	color:white;
	font-weight:normal;
}

#identification #new_password p {margin:10px;}
#identification #new_password input {margin:3px 20%;width:60%;}

#cercle {
	display:none;
	background-image:url(../images/gif.gif);
	background-size:100%;
	background-repeat:no-repeat;
	width:100px;
	height:100px;
}

#nos_bureaux .carte {
	width:350px;
	height:300px;
	background-repeat:no-repeat;
	background-size:100%;
}

#carte_lievin {background-image:url(../images/bureau_lievin.png);}
#carte_lens {background-image:url(../images/bureau_lens.png);}
#carte_loison {background-image:url(../images/bureau_lievin.png);}

