body {
  padding-top: 50px;
  background-color:grey;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  margin-left:15%;
  margin-right:15%;
  background-color:black;
  color:black;
}  

#logo{
	margin-top:-17px;
	width:100px;
	
}

h1{
	color:white;
}


