/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: white;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

body {
	background-image: url(../images/fond.png);
	background-size: 500px;
	background-repeat: repeat;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/* ===================
    ALL: Black Theme
   =================== */

.header-container {
	background-image: linear-gradient(black, #2E2E2E);
}

.main {
	background: black;
}

a {
	color: white;
}

/* ==============
    MOBILE: Menu
   ============== */
	.header-container {
		position: fixed;
	}
	
	#plogo, #menu, #connexion, #menu .navigateur {
		display: inline-block;
	}
	
	.center, #faq div h1, #menuTel, #menuTel p, #menu ul, #bloc1, #bloc2  {		
		text-align: center;
	}
	
	.header-container, .main-container, .main, #menu ul li, #menuTel, #menuTel p {
		width: 100%;
	}
	
	#plogo, #logo, #menu, #connexion, #menuTel, .prestations {
		height: 100%;
	}
	
	nav, .center img {
		height: 100px;
	}
	
	.header-container header {
		height: 50px;
	}
	
	#menu {
		width: 40%;
	}
	
	#plogo, #connexion {
		width: 30%;
	}
	
    #plogo, #menu {
		float: left;
	}
	
	#connexion #butConnexion, #iconeConnexion {
		float: right;
	}
	
	#iconeConnexion {
		width: 30px;
		height: 30px;
		margin: 10px 10px 10px 0;
	}
	
	#connexion .champForm {
		width: 60%;
		height: 15px;
		font-size: 14px;
	}
	
	#connexion p {
		margin: 0;
		font-size: 12px;
		line-height: 12px;
	}
	
	#menu ul {
		padding: 0;
		margin: 0;	
	}
	
	#menuTel ul li {
		transition: all 0.4s ease-out;
	}
	
	#menu ul li:hover {
		background-color: blue;
	}
	
	#menu ul li {
		height: 90%;
		
		background-color: #26272b;
		
		padding: 10% 0;
	}
	
	#menuTel:hover {
		cursor: pointer;
	}
	
	#menuTel p {
		margin: 12px 0;
	}
	
	.mdp_oublie {
		width: 16px;
		height: 16px;
		
		cursor: pointer;
	}
	
	#lienAccueil img, #deco {
		display: inline-block;
		float: right;
		
		height: 30px;
		margin: 10px 5%;
	}
	
/* ==============
    MOBILE: Main
   ============== */
   
	article {
		padding-top: 50px;
	}
   
	.main-container{
        width: 90%;
		margin: 0 5%;
		padding: 80px 0;
	}
		
	.main {
		background-color: black;
		
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
	}

	.footer-container footer {
		padding: 20px 0;
	}
	
	#bloc1, #bloc2, .prestations{
		transition: all .5s cubic-bezier( .6, 2, .4, 1);
	}
	
	#bloc1, #bloc2 {
		font-family: 'AutoMoto';
		font-size: 100%;
	}
	
	.prestations {
		margin: 5% 0;
	}
	
	.prestations img {
		display: block;
		margin: 0 auto;
		
		width: 50px;
	}
	
	.prestations:hover {
		transform: scale(1.2);
	}
	
	#textarea_contact, input {
		color: black;
	}
	
	#connexionTel div p {
		margin: 0;
	}
	
	#contact {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.label_contact{
		display: block;
	}
	
	.carte {
		height: 200px;
	}
	
	.logoRS {
		height: 50px;
	}
	
/* ===============
    ALL: IE Fixes
   =============== */

	.ie7 .title {
		padding-top: 20px;
	}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
	
	@font-face { /* Police de l'auto école */
		font-family: 'AutoMoto';
		src: url('../polices/automoto-webfont.eot');
		src: url('../polices/automoto-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../polices/automoto-webfont.woff') format('woff'),
			 url('../polices/automoto-webfont.ttf') format('truetype'),
			 url('../polices/automoto-webfont.svg#AutoMoto') format('svg');
	}
	
	a {
		text-decoration: none;
	}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
	
	.header-container header {
		height: 80px;
	}
	
	.main-container{
		padding: 100px 0 60px 0;
	}
	
	#connexion #butConnexion{
		width: 32px;
		height: 32px;
		padding: 0;
		border: 0;
		background-image: url(../images/login.png);
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 28px 28px;
	}
	
	#menuTel p {
		margin: 27px 0;
	}
	
	div[class='navigateur btnMenu1'] {
		margin-left: 5%;
	}
	
	div[class='navigateur btnMenu4'] {
		margin-left: 20%;
	}
	
	#lienAccueil img, #deco {
		height: 40px;
		margin: 20px 5%;
	}
	
/* ====================
    INTERMEDIATE: Main
   ==================== */
	
	article {
		padding-top: 80px;
	}
	
	.main, .header-container {
			 -webkit-box-shadow: 1 5px 10px #aaa;
				-moz-box-shadow: 1 5px 10px #aaa;
					 box-shadow: 0 10px 20px #000;	
	}
	
	.main {
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		
		min-height: 50%;
		max-height: 100%;
	}
	
	/* NOS SERVICES */
	
	.prestations {
		display: inline-block;
		width: 30%;
	}
	
	.prestations img {
		width: 100px;
	}
	
	#bloc1, #bloc2 {
		width: 90%;
		height: 44%;
		
		margin: 5% 5%;
	}
	
	.blocH {
		width: 30%;
		vertical-align: top;
	}
	
	#aac {
		margin-right: 5%;
	}
	
	#forfait {
		margin-left: 5%;
	}
	
	/* L'AUTO-ECOLE */
	
	.historique .texte {
		padding: 10px 40px;
	}
	
	.historique {
		overflow: hidden;
	}
	
	.texte {
		font-size: 12px;
		
		text-align: justify;
	}
	
	.texte em {
		font-style: normal;
		text-decoration: underline;
	}
	
	#faq, #contact, #espace_clients {
		
	}
	
	
	
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */
	
	.header-container header {
		height: 100px;
	}
	
	.main-container{
		padding: 120px 0 0 0;
	}

/* ============
    WIDE: Menu
   ============ */
	
	#connexion p {
		line-height: 20px;
		font-size: 15px;
	}
	
	#plogo, #connexion {
		width: 20%;
	}
	
	#menu {
		width: 60%;
	}
	
	#menu .navigateur {
		width: 30%;
		height: 50px;
		
		text-align:center;
		
		font-family: Calibri Light;
		border-bottom: 0px solid grey;
	}
	
	#menu .navigateur:hover, .lienInscription {
		cursor: pointer;
		color: blue;
	}
	
	#menu .navigateur:hover {
		text-decoration: underline;
	}
	
	#lienAccueil img, #deco {
		margin: 30px 5%;
	}

/* ============
    WIDE: Main
   ============ */
	
	article {
		padding-top: 100px;
	}
	
	.prestations img {
		width: 100px;
	}
	
	#bloc1, #bloc2 {
		width: 90%;
		height: 44%;
		
		margin: 5% 5%;
		
		font-size: 150%;
	}
	
	.historique .texte {
		padding: 15px 60px;
	}
	
	.texte {
		font-size: 14px;
	}
	
}

@media only screen and (min-width: 1333px) {

/* ===============
    Maximal Width
   =============== */

    .main-container{
        width: 1026px; /* 1140px - 10% for margins */
		margin: 0 auto;
    }
	
	#bloc1, #bloc2 {
		font-size: 200%;
		
		margin: 5%;
	}
	
	#logo {
		margin-left: 10%;
	}
	
	.historique .texte {
		padding: 20px 80px;
	}
	
	.texte {
		font-size: 16px;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}