body {
	background-image: url(../images/fond.png);
	margin: 0;
}

table, tbody, tr, td {
	border: 1px white solid;
	border-collapse: collapse;
}

article, aside {
	margin-top: 20px;
}

article {
	display: inline-block;
	
	width: 50%;
}

aside {
	float: right;
	
	width: 40%;
}

img {
	width: 20px;
}

@font-face { /* Police de l'auto école */
		font-family: 'AutoMoto';
		src: url('../polices/automoto-webfont.eot');
		src: url('../polices/automoto-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../polices/automoto-webfont.woff') format('woff'),
			 url('../polices/automoto-webfont.ttf') format('truetype'),
			 url('../polices/automoto-webfont.svg#AutoMoto') format('svg');
}

body a {
	position: absolute;
	
	top: 0; right: 0;
	
	width: 50px;
	height: 50px;
	
	padding-left: 5px;
	padding-bottom: 5px;
	
	border-left: 2px black solid;
	border-bottom: 2px black solid;
}

body a img {
	width: 100%;
	height: 100%;
}

.prestation {
	background-color: black;
	color: white;
	
	margin: 50px auto;
	padding: 20px 50px;
	
	width: 80%;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.prestation h1 {
	font-family: 'AutoMoto';
	
	text-align: center;
	border-bottom: 1px white solid;
}

.table2 {
	margin-top: 20px;
}

.rouge {
	background-color: red;
}

.vert {
	background-color: green;
}

