/*
 * Nom de fichier : prestations.css
 * Description : Feuille de style des prestations affichées à partir de la page "Nos services"
 * Auteur(s) : Maxence DELATTRE
*/

#prestation article, #prestation aside {display:inline-block;vertical-align:top;}
#prestation article {width:55%;}

#prestation h1 {
	font-family:'AutoMoto','Comic sans MS', Arial, sans-serif;
	font-weight:normal;
	font-size:250%;
	margin:0 0 2% 0;
	color:white;
	padding:0;
	text-align:left;
}

#nos_services #prestation {
	color:white;
	position:fixed;
	top:0;
	left:0;
	background-color:black;
	width:100%;
	height:100%;
	padding:1%;
	z-index:4;
	font-family: 'Calibri Light';
	margin:0;
	font-size:50%;
	display:none;
}

#prestation table, #prestation tr, #prestation td {
	border-collapse:collapse;
	border:1px solid white;
	font-size:103%;
	margin-left:1%;
}

.check {
	width:10px;
	display:inline-block;
}

#prestation .table1 td, #prestation .table2 td {padding:1px;}
#prestation tr td:nth-child(2), tr td:nth-child(3), tr td:nth-child(4) {text-align:center;}
.recap {color:black;background-color:white;}
.pres_add {text-align:center;}
.recap_milieu {border-right:1px solid black;}
.margin_right {margin-left:70px;}

#prestation .intitule_prix {
	border-right-color:black;
	border-bottom-color:black;
	font-size:200%;
	font-weight:bold;
	text-align:center;
}

#prestation .prix {
	border-left-color:black;
	border-bottom-color:black;
	font-size:200%;
	font-weight:bold;
}

#prestation .intitule_paiement {
	border-right-color:black;
	border-top-color:black;
	font-size:125%;
	font-weight:bold;
	text-align:center;
}

#prestation .paiement {
	border-left-color:black;
	border-top-color:black;
	font-size:125%;
	font-weight:bold;
}

#prestation .table2 {
	margin-top:1%;
	border:1px solid black;
	color:black;
	background-color:white;
	font-weight:bold;
}

#prestation .table2 tr, #prestation .table2 td {
	border:1px solid black;
	text-align:center;
}

#prestation .jour {width:13.22%;}
.vert {background-color:#00ff00;}
.rouge {background-color:red;}

#nos_services .home {
	position:fixed;
	top:0;
	right:0;
	width:150px;
	height:100px;
	background:white url('/images/home.png') no-repeat center;
	background-size:80px;
	display:block;
	margin:0;
}
#nos_services .home:hover {cursor:pointer;}

aside ul {
	list-style-image:url('/images/bandiera.png');
	list-style-image-size:10px;
}
aside {
	margin-top:5%;
	width:41%;
	background-image:url('/images/logo-permis-1-euro.png'), url('/images/logo_navigation.png');
	background-repeat:no-repeat, no-repeat;
	background-position:90% 100%, 10% 100%;
	background-size:200px, 200px;
	height:500px;
}

.n_agrement {margin-top:150px;}
#nos_services .space {height:40px;margin:0;}