<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>



<link rel="stylesheet" type="text/css" href="../css/gestionCours.css"/>

 <body>
<div id="barre_blanche">
	<img id="logo" src="../images/CIRCUIT_2000.png">
	<div id="entete"> 
		<h2>Gestion de cours<h2>
	</div>
</div>	


<div id="cours">
			</br>
			<p id="p1">Elève: Jean Belette</p>
			<p id="p2">Date: 14/03/2016</p>
			<p id="p1">Leçon n°: 12/25</p>
			<p id="p2">Heure: 10h00</p>
			<p id="p1">Description: Manoeuvres</p>
			
			<fieldset>
			<legend>Compteur</legend>
			<h3>00:00:00</h3>
			<input id="button" type="button" name="summit" value= "Démarrer">
			<input id="button2" type="button" name="annuler" value= "Arrêter">
			</fieldset>
			
			<div id="gestCompte">
				<p id="gTitre">Gestion compte</p>
				<p id="g1">Modifier les informations</p>
				<p id="g2">Planning</p>
				<p id="g3">Récapitulatif</p>
				<p id="g4">Déconnexion</p>
			</div>
</div>
</body>