<header class="wrapper clearfix">
	<!-- -->
	<div id="plogo"><img id="logo" src="images/CIRCUIT_2000.png">
	</div><div id="menu">
		<select class="hidden" id="trucrelou" name="nom" size="1">
			<option>Nos Services
			<option>L'Auto Ecole
			<option>Nos Bureaux
			<option>FAQ
			<option>Espace Clients
			<option>Contact
		</select>
		
		
		
		<div class="hidden"><div class="navigateur">NOS SERVICES
		</div><div class="navigateur">L'AUTO ÉCOLE
		</div><div class="navigateur">NOS BUREAUX
		</div><div class="navigateur">FAQ
		</div><div class="navigateur">ESPACE CLIENTS
		</div><div class="navigateur">CONTACT</div></div>
	</div><div id="connexion">
		<img class="hidden" id="iconeConnexion" src="images/login.png">
		<div class="hidden">
			<p>Identifiant</p>
			<input class="champForm" id="identifiant" type="text"/>
			<p>Mot de passe</p>
			<input class="champForm" id="passe" type="password"/>
			<input id="butConnexion" type="button" />
		</div>
	</div>
</header>