<header class="wrapper clearfix">
	<!-- -->
	<div id="plogo"><img id="logo" src="images/CIRCUIT_2000.png"/>
        <script src="js/script.js"></script>
	</div><div id="menu">
		<div id="menuTel" class="hidden">
			<p>Menu</p>
			<ul  class="hidden">
				<li class="navigateur btnMenu1">Nos Services</li>
				<li class="navigateur btnMenu2">L'Auto Ecole</li>
				<li class="navigateur btnMenu3">Nos Bureaux</li>
				<li class="navigateur btnMenu4">FAQ</li>
				<li class="navigateur btnMenu6">Contact</li>
			</ul>
		</div>
		
		
		<div id="menuNorm" class="hidden"><div class="navigateur btnMenu1"><span>NOS SERVICES</span>
		</div><div class="navigateur btnMenu2"><span>L'AUTO ÉCOLE</span>
		</div><div class="navigateur btnMenu3"><span>NOS BUREAUX</span>
		</div><div class="navigateur btnMenu4"><span>FAQ</span>
		</div><div class="navigateur btnMenu6"><span>CONTACT</span></div></div>
	</div><div id="connexion">
		<img class="hidden" id="iconeConnexion" src="images/login.png">
		<div class="hidden" id="zoneCo">
			<p>Identifiant : <a class="lienInscription" href="/templates/inscription.php">(Inscription)</a></p>
			<input class="champForm" id="identifiant" type="text"/>
                        <p>Mot de passe : <a href="/templates/mdpOublie.php"><img class="mdp_oublie" src="images/ask.png"/></a></p>
			<input class="champForm" id="passe" type="password"/>
			<input id="butConnexion" type="button" />
		</div>
	</div>
</header>