<!--
 * Nom de fichier : menu.html
 * Description : Fichier HTML contenant la structure du menu du site
 * Auteur(s) : Maxence DELATTRE
-->

<div id="barre_blanche"></div>
<nav>
	<img id="logo" src="images/CIRCUIT_2000.png">
	<ul id="menu">
		<li><a href="#nos_services">Nos services</a></li>
		<li><a href="#l_auto_ecole">L'auto école</a></li>
		<li><a href="#nos_bureaux">Nos bureaux</a></li>
		<li><a href="#faq">FAQ</a></li>
		<li><a href="#espace_clients">Espace Clients</a></li>
		<li><a href="#contact">Nous contacter</a></li>
	</ul>
	
	<div id="connexion">
		
		<label>Identifiant : </label><input id="login" name="login" type="text" /><br/>
		<label>Mot de passe : </label><input id="password" name="password" type="password" /><br/>
		<input type="hidden" name="action" value="get" />
		<input id="submit_connexion" type="submit" value="Se connecter" />
		<p><span id="oubliMdp">Mot de passe oublié ?</span></p>
		
	</div>
	
	<!-- A INTEGRER
	<div id="reseaux_sociaux">
		<a id="facebook" href="https://fr-fr.facebook.com/pages/Circuit-2000/376830679070353" target="blank"></a>
		<a id="twitter" href="https://twitter.com/circuit2000" target="blank"></a>
		<a id="instagram" href="https://instagram.com/circuit2000" target="blank"></a>
	</div>
	-->
</nav>