<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>



<link rel="stylesheet" type="text/css" href="../css/modifInfos.css"/>


<div id="barre_blanche">
<nav>
	<img id="logo" src="../images/CIRCUIT_2000.png">
	<div id="entete"> 
		<h2>Modifier les informations<h2>
	</div>
	

</div>	
<section>

<div>
    <article id="modifs" >
				 
					<form id="form" method="post" action="">
					   <p>
						<br /><br /><br /><br />
						
							
						   <label for="champs">Nom :</label>
						   <input type="text" name="nom" id="champs" />
						   
						   <br /><br />
						   <label for="champs">Prénom :</label>
						   <input type="text" name="prenom" id="champs" />
						   
						   <br /><br />
							<label for="naiss">Date de naissance: </label>
							<SELECT id="naiss" name="naiss" size="1">
							<OPTION> 
							<OPTION>1	
							<OPTION>2
							<OPTION>3
							<OPTION>4
							<OPTION>5
							<OPTION>6
							<OPTION>7
							<OPTION>8
							<OPTION>9
							<OPTION>10
							<OPTION>11
							<OPTION>12
							<OPTION>13
							<OPTION>14
							<OPTION>15
							<OPTION>16
							<OPTION>17
							<OPTION>18
							<OPTION>19
							<OPTION>20
							<OPTION>21
							<OPTION>22
							<OPTION>23
							<OPTION>24
							<OPTION>25
							<OPTION>26
							<OPTION>27
							<OPTION>28
							<OPTION>29
							<OPTION>30
							<OPTION>31
							</SELECT>
							
							
							<label for="naiss"> - </label>
							<SELECT id="naiss" name="naiss" size="1">
							<OPTION> 
							<OPTION>Janvier	
							<OPTION>Février
							<OPTION>Mars
							<OPTION>Avril
							<OPTION>Mai
							<OPTION>Juin
							<OPTION>Juillet
							<OPTION>Août
							<OPTION>Septembre
							<OPTION>Octobre
							<OPTION>Novembre
							<OPTION>Décembre
							</SELECT>
							
							
							<label for="naiss"> - </label>
							<SELECT id="naiss" name="naiss" size="1">
							<OPTION> 
							<OPTION>1998	
							<OPTION>1997
							<OPTION>1996
							<OPTION>1995
							<OPTION>1994
							<OPTION>1993
							<OPTION>1992
							<OPTION>1991
							<OPTION>1990
							<OPTION>1989
							<OPTION>1988
							<OPTION>1987
							</SELECT>
			
						   
						   <br /><br />
						   <label for="champs">Email : </label>
						   <input type="text" name="mail" id="champs" />
						   
						   
						   
						   <br /><br />
						   <label for="pseudo">Entrez le nouveau mot de passe :</label>
						   <input type="password" name="pass1" id="pass" />
						   
						   <br /><br />
						   <label for="pass">Confirmation du mot de passe :</label>
						   <input type="password" name="pass2" id="pass" />
						   
						   <br /><br />
						   <label for="champs">N° : </label>
						   <input type="text" name="num" id="champs" />
						   
						   <br /><br />
						   <label for="champs">Rue : </label>
						   <input type="text" name="rue" id="champs" />
						   
						   <br /><br />
						   <label for="champs">Ville : </label>
						   <input type="text" name="ville" id="champs" />
						   
						   <br /><br />
						   <label for="champs">Code Postal : </label>
						   <input type="text" name="post" id="champs" />
						   
						   <br /><br />
						   <label for="champs">Téléphone : </label>
						   <input type="text" name="phone" id="champs" />
						   <br /><br />
						   
						   <input id="button" type="button" name="acceptModif" value= "Accepter">
						   
					   </p>
					</form>
				
			</article>
				<div id="gestCompte">
				<p id="gTitre">Gestion compte</p>
				<p id="g1">Modifier les informations</p>
				<p id="g2">Planning</p>
				<p id="g3">Récapitulatif</p>
				<p id="g4">Déconnexion</p>
			</div>
</div>
</section>
