<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>



<link rel="stylesheet" type="text/css" href="../css/modifInfos.css"/>


<div id="barre_blanche">
<nav>
	<img id="logo" src="../images/CIRCUIT_2000.png">
	<div id="entete"> 
		<h2>Modifier les informations<h2>
	</div>
	

</div>	
<section>

<div>
    <article id="modifs" >
				 
					<form id="form" method="post" action="">
					   <p>
						<br /><br /><br /><br />
						   <label for="pseudo">Entrez le nouveau mot de passe :</label>
						   <input type="password" name="pass1" id="pass" />
						   
						   <br /><br />
						   <label for="pass">Confirmation du mot de passe :</label>
						   <input type="password" name="pass2" id="pass" />
						   
						   <br /><br />
						   <input id="button" type="button" name="acceptModif" value= "Accepter">
						   
					   </p>
					</form>
				
			</article>
				<div id="gestCompte">
				<p id="gTitre">Gestion compte</p>
				<p id="g1">Modifier les informations</p>
				<p id="g2">Planning</p>
				<p id="g3">Récapitulatif</p>
				<p id="g4">Déconnexion</p>
			</div>
</div>
</section>
