<!--
 * Nom de fichier : planningClient.html
 * Description : Fichier HTML contenant la structure de la partie "Planning" pour le client de l'espace perso
 * Auteur(s) : Maxime DE COSTER
-->

<link rel='stylesheet' href='css/fullcalendar.css' />
<script src='js/fullcalendar/moment.min.js'></script>
<script src='js/fullcalendar/fullcalendar.js'></script>
<script src='js/fullcalendar/lang-all.js'></script>


<link rel="stylesheet" type="text/css" href="css/planningClient.css"/>
<script type="text/javascript" src="js/planningClient.js"></script>

<div>
    <div id="planning">
        <div id="calendar">
<!--       Automatiquement fait en AJAX     -->
        </div>
    </div>
</div>