<!--
 * Nom de fichier : planningClient.html
 * Description : Fichier HTML contenant la structure de la partie "Planning" pour le client de l'espace perso
 * Auteur(s) : Maxime DE COSTER
-->
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel='stylesheet' href='../css/fullcalendar.css' />
<script src='../js/fullcalendar/moment.min.js'></script>
<script src='../js/fullcalendar/fullcalendar.js'></script>
<script src='../js/fullcalendar/lang-all.js'></script>


<link rel="stylesheet" type="text/css" href="../css/planningClient.css"/>
<script type="text/javascript" src="../js/planningClient.js"></script>

<div id="barre_blanche">
<nav>
	<img id="logo" src="../images/CIRCUIT_2000.png">
	<div id="entete"> 
		<h2>PLANNING<h2>
	</div>
	

</div>	
<section>

<div>
    <article id="planning" >
				 <center>
							
					<FORM>
					<label for="choix">Moniteur: </label>
					<SELECT id="choix" name="nom" size="1">
					<OPTION>Clitorine
					<OPTION>Michel
					<OPTION>Jean Claude
					</SELECT>
					</FORM>

					 	<table id="tab">
						   <tr>
							   <th></th>
							   <th>Lundi</th>
							   <th>Mardi</th>
							   <th>Mercredi</th>
							   <th>Jeudi</th>
							   <th>Vendredi</th>
							   <th>samedi</th>
								
						   </tr>
						   <tr>
							   <th>8h00</th>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
						   </tr>
						   <tr>
							   <th>9h00</th>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
						   </tr>
						   <tr>
							   <th>10h00</th>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
						   </tr>
						   <tr>
							   <th>11h00</th>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
						   </tr>
						   <tr>
							   <th>12h00</th>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
						   </tr>
						   <tr>
							   <th>13h00</th>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
						   </tr>
						   <tr>
							   <th>14h00</th>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
						   </tr>
						   <tr>
							   <th>15h00</th>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
						   </tr>
						   <tr>
							   <th>16h00</th>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
						   </tr>
						   <tr>
							   <th>17h00</th>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
							   <td></td>
						   </tr>
						</table>
					
				</center>
			</article>
				
</div>
</section>
