<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>



<link rel="stylesheet" type="text/css" href="../css/popup.css"/>

<section>


<div>
    <article id="popup" >

					<FORM id="form">
					<label for="choix">Elève: </label>
					<SELECT id="choix" name="nom" size="1">
					<OPTION>Diego
					<OPTION>Albert
					<OPTION>Jane
					</SELECT>
					
					
					<br /><br /><br /><br />
					
					<label for="champs">Description :</label>
					<input type="text" name="desc" id="champs" />
</FORM>
	</article>				

</div>

</section>