<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../js/jquery.min.js" type="text/javascript"></script>
    <script>

        $(document).ready(function () {

            function gestionErreurs(err) {
                alert('Erreur' + err);
                console.log('Erreur' + err);
                return true;
            }

            window.onerror = gestionErreurs;

            $.ajax({

                type: "GET",
                url: "../templates/data.php?action=recupMoniteurs",
                success: function (result1, htmlStatus, jqXHR) {

                    result1 = $.parseJSON(result1);
                    console.log(result1);

                    $.each(result1, function (i, value) {

                        var obj = value;

                        $("#body").append('<tr id=' + i+ '>');
                        
                        $.each(obj, function (key, value2) {
                            
                            $("#"+i).append('<td>' + value2 + '</td>');
                            
                        });
                        
                        $("#body").append('</tr>');

                    });

                },
                error: function (jqXHR, htmlStatus, htmlError) {

                    console.log("Status :" + htmlStatus + "\nError : " + htmlError);

                }

            });

            $.ajax({

                type: "GET",
                url: "../templates/data.php?action=recupTpsPauseMoniteurs",
                success: function (result2, htmlStatus, jqXHR) {

                    result2 = $.parseJSON(result2);
                    console.log(result2);
                    var i = 0;
                    
                    $.each(result2, function (index, value3) {

                        var total = 0;
                        var j = index;
                        
                        if (index != i) {
                            index = i;
                        }
                        while (result2[index].idMoniteur == result2[i].idMoniteur) {

                            if (result2[index].temps_pause != null) {

                                total = total + Number(result2[index].temps_pause);

                            }
                            index++;

                        }
                            $("#" + j).append('<td>' + total + '</td>');
                            i = index;
                            alert(i);
                        
                        
                    });

                },
                error: function (jqXHR, htmlStatus, htmlError) {

                    console.log("Status :" + htmlStatus + "\nError : " + htmlError);

                }
            
            });

        });

    </script>
</head>
<body>

    <table>

        <caption>Récapitulatif des temps de pause</caption>

        <colgroup>
            <col width="150" />
            <col width="150" />
            <col width="150" />
            <col width="150" />
            <col width="150" />
        </colgroup>

        <thead>

            <tr>

                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Immatriculation Voiture</th>
                <th>Temps de pause Total</th>

            </tr>

        </thead>
        
        <tbody id="body">


        </tbody>

</table>

</body>
</html>