 <head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>



<link rel="stylesheet" type="text/css" href="../css/tempsPause.css"/>

 <body>
<div id="barre_blanche">
	<img id="logo" src="../images/CIRCUIT_2000.png">
	<div id="entete"> 
		<h2>Temps de pause<h2>
	</div>
</div>	


<div id="pause">
			<table id="tab">
						   <tr>
							   <th>Nom</th>
							   <th>Prénom</th>
							   <th>Immatriculation</th>
							   <th>Temps de pause</th>
						   </tr>
						   <tr>
							   
							   <td>Hemery</td>
							   <td>Adrien</td>
							   <td>262d2dc</td>
							   <td>8:00:00</td>
						   </tr>
			
			
			
			<div id="gestCompte">
				<p id="gTitre">Gestion compte</p>
				<p id="g1">Modifier les informations</p>
				<p id="g2">Planning</p>
				<p id="g3">Récapitulatif</p>
				<p id="g4">Déconnexion</p>
			</div>
</div>
</body>